
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Quicksand:wght@300..700&display=swap');
@import "tailwindcss";

a.active hr{
    display: block;
}

*{
    font-family: Quicksand;
}


.montserrat-bold {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-style: normal;
}

@media (max-width: 640px) {
    a.active{
      background-color: #D0a823;
      color: white
    }
}